################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Upwork/bin
/src/Upwork/obj/Release
*.suo
/src/.vs/config/applicationhost.config
/src/Upwork/obj/Debug
